.App {
  text-align: center;
}

.container{
  background: rgb(249, 240, 240);
  color: rgb(26, 25, 25);
  box-sizing: border-box;
}
.search-form{
margin: 0.5%;
background: cadetblue;
}
.news-container{
  background: rgb(243, 238, 233);
}
.news-card{
 box-sizing: border-box;
 box-shadow: 1px 1px 1px 1px black;
}